<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="../css/iot.css">
		<title>IoT Project</title>
	</head>
	<body>
		<div class="page-wrap">
			<header>
				<div class="banner-wrap">
					<h1>Teretulemast k&#228;ytt&#228;j&#228;!</h1>
				</div>
				<div class="nav">
					<div class="languages">
						<img class="finnish" src="../img/Finnish.png" alt="Finnish">
						<img class="english" src="../img/English.png" alt="English">
					</div>
				</div>
			</header>
				<div class="content-wrap">
					<div class="row">
						<div class="panel-wrap">
							<div class="courses">
								<a class="button" onclick="toggle_visibility('foo');">Kurssit</a>
								<div class="hidden-panel">
									<?php include("inc/list_courses.php"); ?>
								</div>
							</div>
						</div>
						<div class="panel-wrap">
							<div class="students">
								<a class="button" onclick="toggle_visibility('foo');">Opiskelijat</a>
								<div class="hidden-panel">
									<?php include("inc/list_students.php"); ?>
								</div>
							</div>
						</div>	
						<div class="panel-wrap">
							<div class="rooms">
								<a class="button" onclick="toggle_visibility('foo');">Huoneet</a>
								<div class="hidden-panel">
									<?php include("inc/list_rooms.php"); ?>
								</div>
							</div>
						</div>
						<div class="panel-wrap">
							<div class="teachers">
								<a class="button" onclick="toggle_visibility('foo');">Opettajat</a>
								<div class="hidden-panel">
									<?php include("inc/list_teachers.php"); ?>
								</div>
							</div>
						</div>
						<div class="panel-wrap">
							<div class="guests">
								<a class="button" onclick="toggle_visibility('foo');">Vieraat</a>
								<div class="hidden-panel">
									<?php include("inc/list_guests.php"); ?>
								</div>
							</div>
						</div>
						<div class="panel-wrap">
							<div class="nfc_tags">
								<a class="button" onclick="toggle_visibility('foo');">NFC-tagit</a>
								<div class="hidden-panel">
									<?php include("inc/list_nfc_tags.php"); ?>
								</div>
							</div>
						</div>
					</div>
				</div>
			<footer>
				<div class="footer-wrap">
					<div class="footer-links">
						<p>Linkkej&#228;</p>
					</div>
					<div class="footer-contacts">
						<p>&#169; IoT projekti kes&#228; 2018</p>
						<p>JAMKin logo</p>
						<p>Yhteystietoja yms.</p>
					</div>
				</div>
			</footer>
		</div>
	</body>
</html>