<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="C:/xampp/htdocs/jamk_iot_kesa2018/html/css/iot.css">
		<title>IoT Project</title>
	</head>
	<body>
		<div class="page-wrap">
			<header>
				<div class="banner-wrap">
					<h1>Hienon hieno sisäänkirjautuminen</h1>
				</div>
				<div class="nav">
					<div class="languages">
						<img class="finnish" src="C:/Git/SourceTree/html/img/Finnish.png" alt="Finnish">
						<img class="english" src="C:/Git/SourceTree/html/img/English.png" alt="English">
					</div>
				</div>
			</header>
				<div class="content-wrap">
					<div id="input-form">
						<form>
							<div id="username-cell">
								<p>Käyttäjätunnus</p>
								<input type="text" name="username" id="username">
							</div>
							<div id="password-cell">
								<p>Salasana</p>
								<input type="password" name="password" id="password">
							</div>
							<div id="button-wrap">
								<button class="button">Sign In</button>
							</div>
						</form>
					</div>
				</div>
			<footer>
				<div class="footer-wrap">
					<div class="footer-links">
						<p>Linkkejä</p>
					</div>
					<div class="footer-contacts">
						<p>&#169; IoT projekti kesä 2018</p>
						<p>JAMKin logo</p>
						<p>Yhteystietoja yms.</p>
					</div>
				</div>
			</footer>
		</div>
	</body>
</html>