/* Nullifier for paragraphs and headings*/
body p, h1, h2, h3, h4, h5, h6 {
	margin: 0px !important;
}

/* Styles for the body */
body {
	font-family: calibri;
	font-size: 16px;
	height: content;
	margin: 0px;
}

/* Styles for headings */
h1 {
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}

h2 {
	font-size: 22px;
	font-weight: bold;
	margin: 10px 0 5px 0 !important;
}

h3 {
	font-size: 22px;
	font-style: italic;
}

h4 {
	font-size: 18px;
}

h5 {
	font-size: 18px;
	font-weight: bold;
}

h6 {
	font-size: 18px;
	font-style: italic;
}


/* Some elements are hidden */
.hidden {
	display: none !important;
	visibility: hidden !important;
	height: 0px !important;
	padding: 0px !important;
}

/* General style for the button class */
.button {
    background-color: #00497d;
    color: white;
	margin-left: 43.6%;
    padding: 3px 10px;
	border-radius: 5px;
	border-style: solid;
    cursor: pointer;
}

/* Media screen style for the banner links */
@media only screen and (max-width: 708px) {
	.button {
		text-align: left !important;
		margin-left: 0px !important;
	}
}

/* Style for the page-wrapper */
.page-wrap {
	margin: auto;
	width: 90%;
	max-width: 1200px;
	min-width: 390px;
	background-color: #d6e4f9;
}

/* Style for the banner-wrap */
.banner-wrap {
	display: block;
	height: auto;
	padding: 15px;
	text-align: center;
	color: white;
	background-color: #00497d;
	box-shadow: 0 4px 10px -4px rgba(0, 0, 0, 0.5);
	word-break: ;
}

/* Style for links inside the banner */
.banner-wrap a {
	padding: 5px 10px 5px 10px;
	width: content;
	color: white;
	text-decoration: none;
	font-size: 18px;
}

.banner-wrap a:hover {
	background-color: #002844;
}

.banner-wrap a:active {
	background-color: #002844;
}

.banner-wrap a:focus {
	text-decoration: none;
	background-color: #002844;
}

.banner-wrap a:target {
	background-color: #002844;
}

/* Media screen style for the banner links */
@media only screen and (max-width: 777px) {
	.banner-wrap a {
		font-size: 14px !important;
	}
}

@media only screen and (max-width: 624px) {
	.banner-wrap a {
		font-size: 12px !important;
	}
}

/* Mobile navigation at 567 pixels */

/* Style for navigation bar */
.nav {
	padding: 10px;
	float: right;
}

/* Style for the content-wrap */
.content-wrap {
	display: block;
	height: content;
	padding: 10px;
}

/* Inputs will be filled out from the left if they are inside content-wrap */
.content-wrap input {
	text-align: left !important;
}

/* Style for the row class on desktop */
@media only screen and (min-width: 768px) {
	.row {
		text-align: center !important;
		max-width: 90% !important;
	}
}

/* Style for form-wrap */
.form-wrap {
	padding: 0 10px;
	max-width: 600px;
	text-align: center;
}

/* Style for labels inside form-wrap */
.form-wrap label {
	display: block;
	text-align: left;
	font-weight: bold;
	float: left;
	min-width: 264px;
	margin-bottom: 5px;
}


/* Style for log in page's form */
#input-form {
	width: 200px;
	text-align: center;
	margin: auto;
}

#input-form p {
	text-align: left;
	margin: 3px 0 3px 17.5px !important;
	font-weight: bold;
}

#sign-in {
	text-align: center !important;
	margin: 10px 0 0 0 !important;
}

/* Style for inputs inside form-wrap */
.form-wrap input {
	display: block;
	text-align: start;
	float: rigth;
	min-width: 330px;
	margin-bottom: 5px;
}

/* Style for text-areas inside form-wrap */
.form-wrap textarea {
	display: block;
	float: rigth;
	padding-left: 20p;
	margin: 0 0 5px 0;
	max-width: 328px;
}

/* Styles for the footer */
footer {
	margin: auto;
	max-width: 1200px;
	min-width: 390px;
}

/* Styles for the footer-wrap class */
.footer-wrap {
	height: auto;
	text-align: center;
	box-shadow: 0 -4px 10px -4px rgba(0, 0, 0, 0.5);
}

/* Styling for text inside the footer-wrap */
.footer-wrap p {
	text-align: center;
	color: white;
}

/* Style for footer links */
.footer-links {
	display: block;
	padding: 5px;
	background-color: #4c4c4c;
	height: auto;
}

/* Text coloring for footer links */
.footer-links p {
	color: #bfbfc0;
	margin: 5px 0 5px 0 !important;
}

/* Style for footer contacts */
.footer-contacts {
	display: block;
	padding: 10px;
	background-color: #171717;
	height: auto;
}

/* Text coloring for footer contacts */
.footer-contacts p {
	color: #bfbfc0;
}

/* Style for selects */
.select-wrap {
	display: inline-block;
	margin: auto;
	text-align: center;
	max-width: 1200px;
}

/* Style for the panels */
.panel-wrap {
	display: inline-block;
	text-align: left;
}

/* Style for panel buttons */
.panel-wrap {
	margin-right: 5px;
}

.curr_page {
	color: blue !important;
}

.other_page {
	color: black !important;
}