/* Nullifier for paragraphs and headings*/
body p, h1, h2, h3, h4, h5, h6 {
	margin: 0px !important;
}

/* Styles for the body */
body {
	font-family: calibri;
	font-size: 16px;
	height: content;
	margin: 0px;
}

/* Styles for headings */
h1 {
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}

h2 {
	font-size: 22px;
	font-weight: bold;
	margin: 10px 0 5px 0 !important;
}

h3 {
	font-size: 22px;
	font-style: italic;
}

h4 {
	font-size: 18px;
}

h5 {
	font-size: 16px;
	text-align: center;
	font-weight: bold;
}

h6 {
	font-size: 18px;
	font-style: italic;
}


/* Some elements are hidden */
.hidden {
	display: none !important;
	visibility: hidden !important;
	height: 0px !important;
	padding: 0px !important;
}

/* General style for the button class */
.button {
    background-color: #00497d;
    color: white;
    padding: 3px 10px;
	border-radius: 5px;
	border-style: solid;
    cursor: pointer;
}

/* Media screen style for the banner links
@media only screen and (max-width: 708px) {
	.button {
		text-align: left !important;
		margin-left: 0px !important;
	}
} */

/* Style for the page-wrapper */
.page-wrap {
	margin: auto;
	width: 90%;
	max-width: 1200px;
	min-width: 390px;
	background-color: #d6e4f9;
}

/* Style for the banner-wrap */
.banner-wrap {
	display: block;
	height: auto;
	padding: 15px;
	text-align: center;
	color: white;
	background-color: #00497d;
	box-shadow: 0 4px 10px -4px rgba(0, 0, 0, 0.5);
	overflow: auto;
}

/* Style for links inside the banner */
.banner-wrap a {
	width: content;
	padding: 5px 10px 5px 10px;
	color: white;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
}

.banner-wrap a:hover {
	background-color: #002844;
}

.banner-wrap a:active {
	background-color: #002844;
}

.banner-wrap a:focus {
	text-decoration: none;
	background-color: #002844;
}

.banner-wrap a:target {
	background-color: #002844;
}

/* Style for disabled submit buttons */
input[type="submit"]:disabled {
	background-color: orange;
	text-decoration: line-through;
}

/* Media screen style for the banner links */
@media only screen and (max-width: 849px) {
	.banner-wrap a {
		font-size: 16px !important;
	}
}

/* Media screen style for the banner links */
@media only screen and (max-width: 782px) {
	.banner-wrap a {
		font-size: 14px !important;
	}
}

/* Media screen style for the banner links */
@media only screen and (max-width: 716px) {
	.banner-wrap a {
		font-size: 12px !important;
	}
}

/* Media screen style for the banner links */
@media only screen and (max-width: 649px) {
	.banner-wrap a {
		display: none !important;
	}
}

/* The mobile navigation button will be visible for now on */
@media only screen and (min-width: 650px) {
	.mobile-nav-img {
		display: none !important;
	}
}

/* Mobile navigation at 573 pixels */

/* Style for navigation bar */
.nav {
	clear: right;
}

.mobile-nav-img {
	float: right;
	display: block;
	height: 32px;
	width: 32px;
	margin: 0 0 0 0;
}

/* Style for the content-wrap */
.content-wrap {
	display: block;
	height: content;
	padding: 10px;
	margin: 10px;
}

/* Inputs will be filled out from the left if they are inside content-wrap */
.content-wrap input {
	text-align: left !important;
}

/* Style for the row class on desktop */
@media only screen and (min-width: 768px) {
	.row {
		text-align: center !important;
		max-width: 90% !important;
	}
}

/* Style for form-wrap */
.form-wrap {
	padding: 0 10px;
	max-width: 600px;
	text-align: center;
}

/* Style for labels inside form-wrap */
.form-wrap label {
	display: block;
	text-align: left;
	font-weight: bold;
	float: left;
	min-width: 264px;
	margin-bottom: 5px;
}

/* Style for log in page's form */
#input-form {
	width: 200px;
	text-align: center;
	margin: auto;
}

#input-form p {
	text-align: left;
	margin: 3px 0 3px 17.5px !important;
	font-weight: bold;
}

#sign-in {
	text-align: center !important;
	margin: 10px 0 0 0 !important;
}

/* Style for inputs inside form-wrap */
.form-wrap input {
	display: block;
	text-align: start;
	float: rigth;
	min-width: 330px;
	margin-bottom: 5px;
}

/* Style for text-areas inside form-wrap */
.form-wrap textarea {
	display: block;
	float: rigth;
	padding-left: 20p;
	margin: 0 0 5px 0;
	max-width: 328px;
}

/* Styles for the footer */
footer {
	margin: auto;
	max-width: 1200px;
	min-width: 390px;
}

/* Styles for the footer-wrap class */
.footer-wrap {
	height: auto;
	text-align: center;
	box-shadow: 0 -4px 10px -4px rgba(0, 0, 0, 0.5);
}

/* Styling for text inside the footer-wrap */
.footer-wrap p {
	text-align: center;
	color: white;
}

/* Style for footer links */
.footer-links {
	display: block;
	padding: 5px;
	background-color: #4c4c4c;
	height: auto;
}

/* Text coloring for footer links */
.footer-links p {
	color: #bfbfc0;
	margin: 5px 0 5px 0 !important;
}

/* Style for footer contacts */
.footer-contacts {
	display: block;
	padding: 10px;
	background-color: #171717;
	height: auto;
}

/* Text coloring for footer contacts */
.footer-contacts p {
	color: #bfbfc0;
}

/* Style for selects */
.select-wrap {
	display: inline-block;
	margin: auto;
	text-align: center;
	max-width: 1200px;
}

/* Style for the panels */
.panel-wrap {
	display: inline-block;
	text-align: left;
}

/* Style for panel buttons */
.panel-wrap {
	margin-right: 5px;
}

.curr_page {
	color: blue !important;
}

.other_page {
	color: black !important;
}

/* --------- Course listing page --------- */

/* Specific row class for course search form */
#seek_students_form, #course_table {
	margin: 0 0 0 15px;
}

#count_of_results {
	margin: 0 0 5px 0;
}

.row-type-2 {
	display: flex;
	justify-content: space-between;
	max-width: 400px;
	min-width: 300px;
}

#seek_students_form .row-type-2 {
	margin: 0 15px 0 0;
}

.row-type-2 input {
	margin: 0 0 3px 0;
}

.row-type-3 {
	text-align: left !important;
}

.row-type-3 .button {	
	border-width: 1px;
	margin: 0 0 3px 0;
}

/* Style for counting found courses */
#count_of_results {
	font-style: italic;
}

/* Style for course listing */
.col-sm-2, .col-sm-6 {
	text-align: left;
	border: 1px solid grey;
	background-color: white;
	padding: 5px 2px 5px 2px;
}

.col-sm-2 p, .col-sm-6 p {
	overflow: auto;
	height: 60px;
	font-size: 14px;
}

.col-sm-2 div, .col-sm-6 div {
	height: auto;
	border-collapse: collapse;
    border-style: hidden;
}

.col-sm-1 {
	display: flex;
}

.col-sm-1 button {
	margin: 0 5px 0 5px;
}

/* Adding media query for the bootstrap table */

@media only screen and (max-width: 767px) {
	.col-sm-2, .col-sm-6  h5 {
		display: flex;
		justify-content: flex-start !important;
	}
}

@media only screen and (max-width: 847px) {
	h5 {
		font-size: 14px !important;
	}
}

@media only screen and (max-width: 767px) {
	.col-sm-1 {
		padding: 0 !important;
		margin: 5px 0 5px -1px !important;
	}
}

@media only screen and (min-width: 768px) {
	.col-sm-1 button {
		justify-content: space-between;
	}
}

/* Style for adding or modifying courses */
#seek_courses .text-box {
	width: 400px;
}

@media only screen and (max-width: 505px) {
	#seek_courses .text-box  {
		max-width: 350px !important;
	}
}

.row-type-4 {
	text-align: left;
}

.row-type-5 .button {
	border-width: 1px;
	margin: 0 0 3px 0;
}

/* --------- Style for RoomLog --------- */
/* RoomLog breaks around 560px width */

/* --------- Style for Rooms listing page --------- */