/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* The real fun starts here */
/* Styles for the body */
body {
	font-family: calibri;
	font-size: 16px;
}


/* Styles for headings */
h1 {
	font-size: 22px;
	font-weight: bold;
}

h2{
	font-size: 22px;
}

h3 {
	font-size: 22px;
	font-style: italic;
}

h4{
	font-size: 18px;
}

h5 {
	font-size: 18px;
	font-weight: bold;
}

h6 {
	font-size: 18px;
	font-style: italic;
}

/* Style for button element */
.button {
    background-color: #00497d;
    color: white;
    text-align: center;
    padding: 5px 10px;
	border-radius: 5px;
	border-style: solid;
    cursor: pointer;
}

/* Style for the page-wrapper */
.page-wrap {
	margin: auto;
	width: 90%;
	max-width: 1200px;
	min-width: 320px;
	background-color: #d6e4f9;
}

/* Style for the banner-wrap */
.banner-wrap {
	display: block;
	height: auto;
	padding: 15px;
	text-align: center;
	color: white;
	background-color: #00497d;
	box-shadow: 0 4px 10px -4px rgba(0, 0, 0, 0.5);
	word-break: ;
}

/* Style for links */
 a {
	padding: 5px;
	margin: 5px;
	color: white !important;
}
 a:hover {
	text-decoration: none !important;
	background-color: #002844 !important;
}

 a:active {
	text-decoration: none !important;
	background-color: #002844 !important;
}

a:focus {
	text-decoration: none !important;
	background-color: #002844 !important;
}

a:target {
	background-color: #002844;
}

/* Style for navigation bar */
.nav {
	padding: 10px;
	float: right;
}

/* Style for language buttons */
.languages {
	text-align: right;
	position: abosolute;
}

.languages img {
	height: 25px;
	display: inline-block;
}

/* Style for the content-wrap */
.content-wrap {
	display: block;
	height: content;
	padding: 10px;
	margin: 10px;
}

/* Inputs will be filled out from the left if they are inside content-wrap */
.content-wrap input {
	text-align: left !important;
}

/* Style for the row class on desktop */
@media only screen and (min-width: 768px) {
	.row {
		text-align: center !important;
		max-width: 90% !important;
	}
}

/* Style for the row class */
.row {
	text-align: left;
}
/* Style for input fields and form */
form {
	margin: auto;
	height: auto;
	min-width: 200px;
	max-width: 1200px;
	text-align: left;
}

#input-form p {
	text-align: left;
	padding-left: 14px;
	width: 200px !important;
}

input[type=text] {
	text-align: center;
}

input {
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block !important;
    text-align: start;
    margin: 0em;
}

#username-cell {
	text-align: center;
}

#username {
	text-align: left;
	margin: 5px;
}

#password-cell {
	text-align: center;
}

#password {
	text-align: left;
	margin: 5px;
}

/* Style for the sign-in button */
#sign-in {
	margin: auto;
	width: content;
}

#button-wrap {
	text-align: center;
}

/* Styles for the footer-wrap class */
.footer-wrap {
	height: auto;
	text-align: center;
	box-shadow: 0 -4px 10px -4px rgba(0, 0, 0, 0.5);
}

/* Styling for text inside the footer-wrap */
.footer-wrap p {
	text-align: center;
	color: white;
}

/* Style for footer links */
.footer-links {
	display: block;
	padding: 10px;
	background-color: #4c4c4c;
	height: auto;
}

/* Text coloring for footer links */
.footer-links p {
	color: #bfbfc0;
}

/* Style for footer contacts */
.footer-contacts {
	display: block;
	padding: 10px;
	background-color: #171717;
	height: auto;
}

/* Text coloring for footer contacts */
.footer-contacts p {
	color: #bfbfc0;
}

/* Moving to home.html */
/* Style for selects */

.select-wrap {
	display: inline-block;
	margin: auto;
	text-align: center;
	max-width: 1200px;
}

.row h2 {
	text-align: center;
}

/* Style for the panels */
.panel-wrap {
	display: inline-block;
	text-align: left;
}

/* Style for panel buttons */
.panel-wrap {
	margin-right: 5px;
}

/* Style for the hidden panels that activate on click */
/* Style for hidden panels */
.hidden-panel{
display:none;
/* Testing purposes */
height:200px;
width: 200px;
background-color:green;
}

.button:active + .hidden-panel{
display:block;
}